div {
    border: 1px solid red;
}

html, body {
    margin: 0;
    padding: 0;
}

.hero-section {
    background-color: #1f2937;
    font-family: Roboto;
    padding: 50px 15%;
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.link-text {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
    font-family: Roboto;
    flex-wrap: wrap;
    text-decoration: none;
}

.hero-paragraph {
    color: #e5e7eb;
    font-size: 18px;
    font-family: Roboto;
}

.hero-p-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    max-width: 550px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-family: Roboto;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-weight: 600;
}

.hero-section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* This is the next section of styling for the Random info section. */
